services:
  executron:
    build:
      context: .
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp:/tmp
    environment:
      - APP_ENV=production
    restart: unless-stopped
    ports:
      - "8080:8080"

  warp:
    image: ghcr.io/xxphantom/docker-warp-native:latest
    container_name: executron-warp
    restart: always
    cap_add:
      - ALL
