services:
  executron:
    image: twirapp/executron:latest
    environment:
      MAX_PARALLEL_CONTAINERS: 100
      APP_ENV: production
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp:/tmp
    restart: unless-stopped
    networks:
      - twir
      - cloudflared

  warp:
    image: ghcr.io/xxphantom/docker-warp-native:latest
    container_name: executron-warp
    restart: always
    cap_add:
      - ALL

networks:
  twir:
    external: true
  cloudflared:
    external: true